<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OEXboxButtonA</key>
		<string>OEGenericControllerButtonA</string>
		<key>OEXboxButtonB</key>
		<string>OEGenericControllerButtonB</string>
		<key>OEXboxButtonX</key>
		<string>OEGenericControllerButtonX</string>
		<key>OEXboxButtonY</key>
		<string>OEGenericControllerButtonY</string>
		<key>OEXboxButtonWhite</key>
		<string>OEGenericControllerButtonLeftShoulder</string>
		<key>OEXboxButtonBlack</key>
		<string>OEGenericControllerButtonRightShoulder</string>
		<key>OEXboxLeftTrigger</key>
		<string>OEGenericControllerLeftTrigger</string>
		<key>OEXboxRightTrigger</key>
		<string>OEGenericControllerRightTrigger</string>
		<key>OEXboxButtonDpadUp</key>
		<string>OEGenericControllerDPadUp</string>
		<key>OEXboxButtonDpadDown</key>
		<string>OEGenericControllerDPadDown</string>
		<key>OEXboxButtonDpadLeft</key>
		<string>OEGenericControllerDPadLeft</string>
		<key>OEXboxButtonDpadRight</key>
		<string>OEGenericControllerDPadRight</string>
		<key>OEXboxButtonStart</key>
		<string>OEGenericControllerButtonStart</string>
		<key>OEXboxButtonBack</key>
		<string>OEGenericControllerButtonBack</string>
		<key>OEXboxButtonLeftStick</key>
		<string>OEGenericControllerButtonLeftThumb</string>
		<key>OEXboxButtonRightStick</key>
		<string>OEGenericControllerButtonRightThumb</string>
		<key>OEXboxLeftAnalogUp</key>
		<string>OEGenericControllerLeftJoystickUp</string>
		<key>OEXboxLeftAnalogDown</key>
		<string>OEGenericControllerLeftJoystickDown</string>
		<key>OEXboxLeftAnalogLeft</key>
		<string>OEGenericControllerLeftJoystickLeft</string>
		<key>OEXboxLeftAnalogRight</key>
		<string>OEGenericControllerLeftJoystickRight</string>
		<key>OEXboxRightAnalogUp</key>
		<string>OEGenericControllerRightJoystickUp</string>
		<key>OEXboxRightAnalogDown</key>
		<string>OEGenericControllerRightJoystickDown</string>
		<key>OEXboxRightAnalogLeft</key>
		<string>OEGenericControllerRightJoystickLeft</string>
		<key>OEXboxRightAnalogRight</key>
		<string>OEGenericControllerRightJoystickRight</string>
	</dict>
	<key>OEControllerMicrosoftXboxOne</key>
	<dict>
		<key>OEXboxButtonA</key>
		<string>OEGenericControllerButtonA</string>
		<key>OEXboxButtonB</key>
		<string>OEGenericControllerButtonB</string>
		<key>OEXboxButtonX</key>
		<string>OEGenericControllerButtonX</string>
		<key>OEXboxButtonY</key>
		<string>OEGenericControllerButtonY</string>
		<key>OEXboxButtonWhite</key>
		<string>OEGenericControllerButtonLeftShoulder</string>
		<key>OEXboxButtonBlack</key>
		<string>OEGenericControllerButtonRightShoulder</string>
		<key>OEXboxLeftTrigger</key>
		<string>OEGenericControllerLeftTrigger</string>
		<key>OEXboxRightTrigger</key>
		<string>OEGenericControllerRightTrigger</string>
		<key>OEXboxButtonDpadUp</key>
		<string>OEGenericControllerDPadUp</string>
		<key>OEXboxButtonDpadDown</key>
		<string>OEGenericControllerDPadDown</string>
		<key>OEXboxButtonDpadLeft</key>
		<string>OEGenericControllerDPadLeft</string>
		<key>OEXboxButtonDpadRight</key>
		<string>OEGenericControllerDPadRight</string>
		<key>OEXboxButtonStart</key>
		<string>OEGenericControllerButtonStart</string>
		<key>OEXboxButtonBack</key>
		<string>OEGenericControllerButtonBack</string>
		<key>OEXboxButtonLeftStick</key>
		<string>OEGenericControllerButtonLeftThumb</string>
		<key>OEXboxButtonRightStick</key>
		<string>OEGenericControllerButtonRightThumb</string>
		<key>OEXboxLeftAnalogUp</key>
		<string>OEGenericControllerLeftJoystickUp</string>
		<key>OEXboxLeftAnalogDown</key>
		<string>OEGenericControllerLeftJoystickDown</string>
		<key>OEXboxLeftAnalogLeft</key>
		<string>OEGenericControllerLeftJoystickLeft</string>
		<key>OEXboxLeftAnalogRight</key>
		<string>OEGenericControllerLeftJoystickRight</string>
		<key>OEXboxRightAnalogUp</key>
		<string>OEGenericControllerRightJoystickUp</string>
		<key>OEXboxRightAnalogDown</key>
		<string>OEGenericControllerRightJoystickDown</string>
		<key>OEXboxRightAnalogLeft</key>
		<string>OEGenericControllerRightJoystickLeft</string>
		<key>OEXboxRightAnalogRight</key>
		<string>OEGenericControllerRightJoystickRight</string>
	</dict>
	<key>OEControllerMicrosoftXboxSeriesXS</key>
	<dict>
		<key>OEXboxButtonA</key>
		<string>OEGenericControllerButtonA</string>
		<key>OEXboxButtonB</key>
		<string>OEGenericControllerButtonB</string>
		<key>OEXboxButtonX</key>
		<string>OEGenericControllerButtonX</string>
		<key>OEXboxButtonY</key>
		<string>OEGenericControllerButtonY</string>
		<key>OEXboxButtonWhite</key>
		<string>OEGenericControllerButtonLeftShoulder</string>
		<key>OEXboxButtonBlack</key>
		<string>OEGenericControllerButtonRightShoulder</string>
		<key>OEXboxLeftTrigger</key>
		<string>OEGenericControllerLeftTrigger</string>
		<key>OEXboxRightTrigger</key>
		<string>OEGenericControllerRightTrigger</string>
		<key>OEXboxButtonDpadUp</key>
		<string>OEGenericControllerDPadUp</string>
		<key>OEXboxButtonDpadDown</key>
		<string>OEGenericControllerDPadDown</string>
		<key>OEXboxButtonDpadLeft</key>
		<string>OEGenericControllerDPadLeft</string>
		<key>OEXboxButtonDpadRight</key>
		<string>OEGenericControllerDPadRight</string>
		<key>OEXboxButtonStart</key>
		<string>OEGenericControllerButtonStart</string>
		<key>OEXboxButtonBack</key>
		<string>OEGenericControllerButtonBack</string>
		<key>OEXboxButtonLeftStick</key>
		<string>OEGenericControllerButtonLeftThumb</string>
		<key>OEXboxButtonRightStick</key>
		<string>OEGenericControllerButtonRightThumb</string>
		<key>OEXboxLeftAnalogUp</key>
		<string>OEGenericControllerLeftJoystickUp</string>
		<key>OEXboxLeftAnalogDown</key>
		<string>OEGenericControllerLeftJoystickDown</string>
		<key>OEXboxLeftAnalogLeft</key>
		<string>OEGenericControllerLeftJoystickLeft</string>
		<key>OEXboxLeftAnalogRight</key>
		<string>OEGenericControllerLeftJoystickRight</string>
		<key>OEXboxRightAnalogUp</key>
		<string>OEGenericControllerRightJoystickUp</string>
		<key>OEXboxRightAnalogDown</key>
		<string>OEGenericControllerRightJoystickDown</string>
		<key>OEXboxRightAnalogLeft</key>
		<string>OEGenericControllerRightJoystickLeft</string>
		<key>OEXboxRightAnalogRight</key>
		<string>OEGenericControllerRightJoystickRight</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OEXboxButtonA</key>
		<string>OEGenericControllerButtonCross</string>
		<key>OEXboxButtonB</key>
		<string>OEGenericControllerButtonCircle</string>
		<key>OEXboxButtonX</key>
		<string>OEGenericControllerButtonSquare</string>
		<key>OEXboxButtonY</key>
		<string>OEGenericControllerButtonTriangle</string>
		<key>OEXboxButtonWhite</key>
		<string>OEGenericControllerButtonLeftShoulder</string>
		<key>OEXboxButtonBlack</key>
		<string>OEGenericControllerButtonRightShoulder</string>
		<key>OEXboxLeftTrigger</key>
		<string>OEGenericControllerLeftTrigger</string>
		<key>OEXboxRightTrigger</key>
		<string>OEGenericControllerRightTrigger</string>
		<key>OEXboxButtonDpadUp</key>
		<string>OEGenericControllerDPadUp</string>
		<key>OEXboxButtonDpadDown</key>
		<string>OEGenericControllerDPadDown</string>
		<key>OEXboxButtonDpadLeft</key>
		<string>OEGenericControllerDPadLeft</string>
		<key>OEXboxButtonDpadRight</key>
		<string>OEGenericControllerDPadRight</string>
		<key>OEXboxButtonStart</key>
		<string>OEGenericControllerButtonOptions</string>
		<key>OEXboxButtonBack</key>
		<string>OEGenericControllerButtonShare</string>
		<key>OEXboxButtonLeftStick</key>
		<string>OEGenericControllerButtonLeftThumb</string>
		<key>OEXboxButtonRightStick</key>
		<string>OEGenericControllerButtonRightThumb</string>
		<key>OEXboxLeftAnalogUp</key>
		<string>OEGenericControllerLeftJoystickUp</string>
		<key>OEXboxLeftAnalogDown</key>
		<string>OEGenericControllerLeftJoystickDown</string>
		<key>OEXboxLeftAnalogLeft</key>
		<string>OEGenericControllerLeftJoystickLeft</string>
		<key>OEXboxLeftAnalogRight</key>
		<string>OEGenericControllerLeftJoystickRight</string>
		<key>OEXboxRightAnalogUp</key>
		<string>OEGenericControllerRightJoystickUp</string>
		<key>OEXboxRightAnalogDown</key>
		<string>OEGenericControllerRightJoystickDown</string>
		<key>OEXboxRightAnalogLeft</key>
		<string>OEGenericControllerRightJoystickLeft</string>
		<key>OEXboxRightAnalogRight</key>
		<string>OEGenericControllerRightJoystickRight</string>
	</dict>
	<key>OEControllerSonyPS5DualSense</key>
	<dict>
		<key>OEXboxButtonA</key>
		<string>OEGenericControllerButtonCross</string>
		<key>OEXboxButtonB</key>
		<string>OEGenericControllerButtonCircle</string>
		<key>OEXboxButtonX</key>
		<string>OEGenericControllerButtonSquare</string>
		<key>OEXboxButtonY</key>
		<string>OEGenericControllerButtonTriangle</string>
		<key>OEXboxButtonWhite</key>
		<string>OEGenericControllerButtonLeftShoulder</string>
		<key>OEXboxButtonBlack</key>
		<string>OEGenericControllerButtonRightShoulder</string>
		<key>OEXboxLeftTrigger</key>
		<string>OEGenericControllerLeftTrigger</string>
		<key>OEXboxRightTrigger</key>
		<string>OEGenericControllerRightTrigger</string>
		<key>OEXboxButtonDpadUp</key>
		<string>OEGenericControllerDPadUp</string>
		<key>OEXboxButtonDpadDown</key>
		<string>OEGenericControllerDPadDown</string>
		<key>OEXboxButtonDpadLeft</key>
		<string>OEGenericControllerDPadLeft</string>
		<key>OEXboxButtonDpadRight</key>
		<string>OEGenericControllerDPadRight</string>
		<key>OEXboxButtonStart</key>
		<string>OEGenericControllerButtonOptions</string>
		<key>OEXboxButtonBack</key>
		<string>OEGenericControllerButtonCreate</string>
		<key>OEXboxButtonLeftStick</key>
		<string>OEGenericControllerButtonLeftThumb</string>
		<key>OEXboxButtonRightStick</key>
		<string>OEGenericControllerButtonRightThumb</string>
		<key>OEXboxLeftAnalogUp</key>
		<string>OEGenericControllerLeftJoystickUp</string>
		<key>OEXboxLeftAnalogDown</key>
		<string>OEGenericControllerLeftJoystickDown</string>
		<key>OEXboxLeftAnalogLeft</key>
		<string>OEGenericControllerLeftJoystickLeft</string>
		<key>OEXboxLeftAnalogRight</key>
		<string>OEGenericControllerLeftJoystickRight</string>
		<key>OEXboxRightAnalogUp</key>
		<string>OEGenericControllerRightJoystickUp</string>
		<key>OEXboxRightAnalogDown</key>
		<string>OEGenericControllerRightJoystickDown</string>
		<key>OEXboxRightAnalogLeft</key>
		<string>OEGenericControllerRightJoystickLeft</string>
		<key>OEXboxRightAnalogRight</key>
		<string>OEGenericControllerRightJoystickRight</string>
	</dict>
	<key>OEControllerNintendoSwitchProController</key>
	<dict>
		<key>OEXboxButtonA</key>
		<string>OEGenericControllerButtonB</string>
		<key>OEXboxButtonB</key>
		<string>OEGenericControllerButtonA</string>
		<key>OEXboxButtonX</key>
		<string>OEGenericControllerButtonY</string>
		<key>OEXboxButtonY</key>
		<string>OEGenericControllerButtonX</string>
		<key>OEXboxButtonWhite</key>
		<string>OEGenericControllerButtonLeftShoulder</string>
		<key>OEXboxButtonBlack</key>
		<string>OEGenericControllerButtonRightShoulder</string>
		<key>OEXboxLeftTrigger</key>
		<string>OEGenericControllerLeftTrigger</string>
		<key>OEXboxRightTrigger</key>
		<string>OEGenericControllerRightTrigger</string>
		<key>OEXboxButtonDpadUp</key>
		<string>OEGenericControllerDPadUp</string>
		<key>OEXboxButtonDpadDown</key>
		<string>OEGenericControllerDPadDown</string>
		<key>OEXboxButtonDpadLeft</key>
		<string>OEGenericControllerDPadLeft</string>
		<key>OEXboxButtonDpadRight</key>
		<string>OEGenericControllerDPadRight</string>
		<key>OEXboxButtonStart</key>
		<string>OEGenericControllerButtonPlus</string>
		<key>OEXboxButtonBack</key>
		<string>OEGenericControllerButtonMinus</string>
		<key>OEXboxButtonLeftStick</key>
		<string>OEGenericControllerButtonLeftThumb</string>
		<key>OEXboxButtonRightStick</key>
		<string>OEGenericControllerButtonRightThumb</string>
		<key>OEXboxLeftAnalogUp</key>
		<string>OEGenericControllerLeftJoystickUp</string>
		<key>OEXboxLeftAnalogDown</key>
		<string>OEGenericControllerLeftJoystickDown</string>
		<key>OEXboxLeftAnalogLeft</key>
		<string>OEGenericControllerLeftJoystickLeft</string>
		<key>OEXboxLeftAnalogRight</key>
		<string>OEGenericControllerLeftJoystickRight</string>
		<key>OEXboxRightAnalogUp</key>
		<string>OEGenericControllerRightJoystickUp</string>
		<key>OEXboxRightAnalogDown</key>
		<string>OEGenericControllerRightJoystickDown</string>
		<key>OEXboxRightAnalogLeft</key>
		<string>OEGenericControllerRightJoystickLeft</string>
		<key>OEXboxRightAnalogRight</key>
		<string>OEGenericControllerRightJoystickRight</string>
	</dict>
</dict>
</plist>
