<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>$(PRODUCT_NAME:c99extidentifier).OEFlashSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonRight</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Space</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonSpace</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Enter</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonEnter</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Escape</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonEscape</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Shift</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonShift</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Control</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonControl</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Tab</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonTab</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>C</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonC</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>D</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonD</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>E</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonE</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>F</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonF</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>G</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonG</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>H</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonH</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>I</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonI</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>J</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonJ</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>K</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonK</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonL</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>M</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonM</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>N</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonN</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>O</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonO</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>P</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonP</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Q</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonQ</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonR</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>S</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonS</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>T</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonT</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>U</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonU</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>V</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonV</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>W</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonW</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>X</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonX</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Y</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonY</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Z</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButtonZ</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>0</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButton0</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButton1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButton2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButton3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButton4</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>5</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButton5</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>6</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButton6</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>7</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButton7</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>8</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButton8</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>9</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEFlashButton9</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict/>
	<key>OEFileSuffixes</key>
	<array>
		<string>swf</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEFlashButtonUp</string>
		<string>OEFlashButtonDown</string>
		<string>OEFlashButtonLeft</string>
		<string>OEFlashButtonRight</string>
		<string>OEFlashButtonSpace</string>
		<string>OEFlashButtonEnter</string>
		<string>OEFlashButtonEscape</string>
		<string>OEFlashButtonShift</string>
		<string>OEFlashButtonControl</string>
		<string>OEFlashButtonTab</string>
		<string>OEFlashButtonA</string>
		<string>OEFlashButtonB</string>
		<string>OEFlashButtonC</string>
		<string>OEFlashButtonD</string>
		<string>OEFlashButtonE</string>
		<string>OEFlashButtonF</string>
		<string>OEFlashButtonG</string>
		<string>OEFlashButtonH</string>
		<string>OEFlashButtonI</string>
		<string>OEFlashButtonJ</string>
		<string>OEFlashButtonK</string>
		<string>OEFlashButtonL</string>
		<string>OEFlashButtonM</string>
		<string>OEFlashButtonN</string>
		<string>OEFlashButtonO</string>
		<string>OEFlashButtonP</string>
		<string>OEFlashButtonQ</string>
		<string>OEFlashButtonR</string>
		<string>OEFlashButtonS</string>
		<string>OEFlashButtonT</string>
		<string>OEFlashButtonU</string>
		<string>OEFlashButtonV</string>
		<string>OEFlashButtonW</string>
		<string>OEFlashButtonX</string>
		<string>OEFlashButtonY</string>
		<string>OEFlashButtonZ</string>
		<string>OEFlashButton0</string>
		<string>OEFlashButton1</string>
		<string>OEFlashButton2</string>
		<string>OEFlashButton3</string>
		<string>OEFlashButton4</string>
		<string>OEFlashButton5</string>
		<string>OEFlashButton6</string>
		<string>OEFlashButton7</string>
		<string>OEFlashButton8</string>
		<string>OEFlashButton9</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>1</integer>
	<key>OEResponderClassKey</key>
	<string>OEFlashSystemResponder</string>
	<key>OESystemIcon</key>
	<string>flash_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.flash</string>
	<key>OESystemName</key>
	<string>Flash</string>
	<key>OESystemType</key>
	<string>OESystemTypeComputer</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaFile</string>
	</array>
</dict>
</plist>
