<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEFlashButtonUp</key>
	<integer>82</integer>
	<key>OEFlashButtonDown</key>
	<integer>81</integer>
	<key>OEFlashButtonLeft</key>
	<integer>80</integer>
	<key>OEFlashButtonRight</key>
	<integer>79</integer>
	<key>OEFlashButtonSpace</key>
	<integer>44</integer>
	<key>OEFlashButtonEnter</key>
	<integer>40</integer>
	<key>OEFlashButtonEscape</key>
	<integer>41</integer>
	<key>OEFlashButtonShift</key>
	<integer>225</integer>
	<key>OEFlashButtonControl</key>
	<integer>224</integer>
	<key>OEFlashButtonTab</key>
	<integer>43</integer>
	<key>OEFlashButtonA</key>
	<integer>4</integer>
	<key>OEFlashButtonB</key>
	<integer>5</integer>
	<key>OEFlashButtonC</key>
	<integer>6</integer>
	<key>OEFlashButtonD</key>
	<integer>7</integer>
	<key>OEFlashButtonE</key>
	<integer>8</integer>
	<key>OEFlashButtonF</key>
	<integer>9</integer>
	<key>OEFlashButtonG</key>
	<integer>10</integer>
	<key>OEFlashButtonH</key>
	<integer>11</integer>
	<key>OEFlashButtonI</key>
	<integer>12</integer>
	<key>OEFlashButtonJ</key>
	<integer>13</integer>
	<key>OEFlashButtonK</key>
	<integer>14</integer>
	<key>OEFlashButtonL</key>
	<integer>15</integer>
	<key>OEFlashButtonM</key>
	<integer>16</integer>
	<key>OEFlashButtonN</key>
	<integer>17</integer>
	<key>OEFlashButtonO</key>
	<integer>18</integer>
	<key>OEFlashButtonP</key>
	<integer>19</integer>
	<key>OEFlashButtonQ</key>
	<integer>20</integer>
	<key>OEFlashButtonR</key>
	<integer>21</integer>
	<key>OEFlashButtonS</key>
	<integer>22</integer>
	<key>OEFlashButtonT</key>
	<integer>23</integer>
	<key>OEFlashButtonU</key>
	<integer>24</integer>
	<key>OEFlashButtonV</key>
	<integer>25</integer>
	<key>OEFlashButtonW</key>
	<integer>26</integer>
	<key>OEFlashButtonX</key>
	<integer>27</integer>
	<key>OEFlashButtonY</key>
	<integer>28</integer>
	<key>OEFlashButtonZ</key>
	<integer>29</integer>
	<key>OEFlashButton0</key>
	<integer>39</integer>
	<key>OEFlashButton1</key>
	<integer>30</integer>
	<key>OEFlashButton2</key>
	<integer>31</integer>
	<key>OEFlashButton3</key>
	<integer>32</integer>
	<key>OEFlashButton4</key>
	<integer>33</integer>
	<key>OEFlashButton5</key>
	<integer>34</integer>
	<key>OEFlashButton6</key>
	<integer>35</integer>
	<key>OEFlashButton7</key>
	<integer>36</integer>
	<key>OEFlashButton8</key>
	<integer>37</integer>
	<key>OEFlashButton9</key>
	<integer>38</integer>
</dict>
</plist>
