<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleDriveClientID</key>
	<string>YOUR_CLIENT_ID.apps.googleusercontent.com</string>
	<key>GoogleDriveClientSecret</key>
	<string>YOUR_CLIENT_SECRET</string>
	<key>DropboxAppKey</key>
	<string>YOUR_APP_KEY</string>
	<key>DropboxAppSecret</key>
	<string>YOUR_APP_SECRET</string>
</dict>
</plist>
