<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OEWiiButtonUp</key>
		<string>OEControllerMicrosoftXbox360DPadUp</string>
		<key>OEWiiButtonDown</key>
		<string>OEControllerMicrosoftXbox360DPadDown</string>
		<key>OEWiiButtonLeft</key>
		<string>OEControllerMicrosoftXbox360DPadLeft</string>
		<key>OEWiiButtonRight</key>
		<string>OEControllerMicrosoftXbox360DPadRight</string>
		<key>OEWiiButtonA</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
		<key>OEWiiButtonB</key>
		<string>OEControllerMicrosoftXbox360ButtonB</string>
		<key>OEWiiButton1</key>
		<string>OEControllerMicrosoftXbox360ButtonX</string>
		<key>OEWiiButton2</key>
		<string>OEControllerMicrosoftXbox360ButtonY</string>
		<key>OEWiiButtonPlus</key>
		<string>OEControllerMicrosoftXbox360ButtonStart</string>
		<key>OEWiiButtonMinus</key>
		<string>OEControllerMicrosoftXbox360ButtonBack</string>
		<key>OEWiiButtonHome</key>
		<string>OEControllerMicrosoftXbox360ButtonGuide</string>
		<key>OEWiiNunchukAnalogUp</key>
		<string>OEControllerMicrosoftXbox360LeftAnalogUp</string>
		<key>OEWiiNunchukAnalogLeft</key>
		<string>OEControllerMicrosoftXbox360LeftAnalogLeft</string>
		<key>OEWiiNunchukButtonC</key>
		<string>OEControllerMicrosoftXbox360ButtonLeftShoulder</string>
		<key>OEWiiNunchukButtonZ</key>
		<string>OEControllerMicrosoftXbox360ButtonLeftTrigger</string>
		<key>OEWiiIRUp</key>
		<string>OEControllerMicrosoftXbox360RightAnalogUp</string>
		<key>OEWiiIRLeft</key>
		<string>OEControllerMicrosoftXbox360RightAnalogLeft</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OEWiiButtonUp</key>
		<string>OEControllerSonyPS4Dualshock4DPadUp</string>
		<key>OEWiiButtonDown</key>
		<string>OEControllerSonyPS4Dualshock4DPadDown</string>
		<key>OEWiiButtonLeft</key>
		<string>OEControllerSonyPS4Dualshock4DPadLeft</string>
		<key>OEWiiButtonRight</key>
		<string>OEControllerSonyPS4Dualshock4DPadRight</string>
		<key>OEWiiButtonA</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
		<key>OEWiiButtonB</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCircle</string>
		<key>OEWiiButton1</key>
		<string>OEControllerSonyPS4Dualshock4ButtonSquare</string>
		<key>OEWiiButton2</key>
		<string>OEControllerSonyPS4Dualshock4ButtonTriangle</string>
		<key>OEWiiButtonPlus</key>
		<string>OEControllerSonyPS4Dualshock4ButtonOptions</string>
		<key>OEWiiButtonMinus</key>
		<string>OEControllerSonyPS4Dualshock4ButtonShare</string>
		<key>OEWiiButtonHome</key>
		<string>OEControllerSonyPS4Dualshock4ButtonHome</string>
		<key>OEWiiNunchukAnalogUp</key>
		<string>OEControllerSonyPS4Dualshock4LeftAnalogUp</string>
		<key>OEWiiNunchukAnalogLeft</key>
		<string>OEControllerSonyPS4Dualshock4LeftAnalogLeft</string>
		<key>OEWiiNunchukButtonC</key>
		<string>OEControllerSonyPS4Dualshock4ButtonL1</string>
		<key>OEWiiNunchukButtonZ</key>
		<string>OEControllerSonyPS4Dualshock4ButtonL2</string>
		<key>OEWiiIRUp</key>
		<string>OEControllerSonyPS4Dualshock4RightAnalogUp</string>
		<key>OEWiiIRLeft</key>
		<string>OEControllerSonyPS4Dualshock4RightAnalogLeft</string>
	</dict>
	<key>OEControllerSonyPS5DualSense</key>
	<dict>
		<key>OEWiiButtonUp</key>
		<string>OEControllerSonyPS5DualSenseDPadUp</string>
		<key>OEWiiButtonDown</key>
		<string>OEControllerSonyPS5DualSenseDPadDown</string>
		<key>OEWiiButtonLeft</key>
		<string>OEControllerSonyPS5DualSenseDPadLeft</string>
		<key>OEWiiButtonRight</key>
		<string>OEControllerSonyPS5DualSenseDPadRight</string>
		<key>OEWiiButtonA</key>
		<string>OEControllerSonyPS5DualSenseButtonCross</string>
		<key>OEWiiButtonB</key>
		<string>OEControllerSonyPS5DualSenseButtonCircle</string>
		<key>OEWiiButton1</key>
		<string>OEControllerSonyPS5DualSenseButtonSquare</string>
		<key>OEWiiButton2</key>
		<string>OEControllerSonyPS5DualSenseButtonTriangle</string>
		<key>OEWiiButtonPlus</key>
		<string>OEControllerSonyPS5DualSenseButtonOptions</string>
		<key>OEWiiButtonMinus</key>
		<string>OEControllerSonyPS5DualSenseButtonCreate</string>
		<key>OEWiiButtonHome</key>
		<string>OEControllerSonyPS5DualSenseButtonHome</string>
		<key>OEWiiNunchukAnalogUp</key>
		<string>OEControllerSonyPS5DualSenseLeftAnalogUp</string>
		<key>OEWiiNunchukAnalogLeft</key>
		<string>OEControllerSonyPS5DualSenseLeftAnalogLeft</string>
		<key>OEWiiNunchukButtonC</key>
		<string>OEControllerSonyPS5DualSenseButtonL1</string>
		<key>OEWiiNunchukButtonZ</key>
		<string>OEControllerSonyPS5DualSenseButtonL2</string>
		<key>OEWiiIRUp</key>
		<string>OEControllerSonyPS5DualSenseRightAnalogUp</string>
		<key>OEWiiIRLeft</key>
		<string>OEControllerSonyPS5DualSenseRightAnalogLeft</string>
	</dict>
	<key>OEControllerNintendoSwitchProController</key>
	<dict>
		<key>OEWiiButtonUp</key>
		<string>OEControllerNintendoSwitchProControllerDPadUp</string>
		<key>OEWiiButtonDown</key>
		<string>OEControllerNintendoSwitchProControllerDPadDown</string>
		<key>OEWiiButtonLeft</key>
		<string>OEControllerNintendoSwitchProControllerDPadLeft</string>
		<key>OEWiiButtonRight</key>
		<string>OEControllerNintendoSwitchProControllerDPadRight</string>
		<key>OEWiiButtonA</key>
		<string>OEControllerNintendoSwitchProControllerButtonB</string>
		<key>OEWiiButtonB</key>
		<string>OEControllerNintendoSwitchProControllerButtonA</string>
		<key>OEWiiButton1</key>
		<string>OEControllerNintendoSwitchProControllerButtonY</string>
		<key>OEWiiButton2</key>
		<string>OEControllerNintendoSwitchProControllerButtonX</string>
		<key>OEWiiButtonPlus</key>
		<string>OEControllerNintendoSwitchProControllerButtonPlus</string>
		<key>OEWiiButtonMinus</key>
		<string>OEControllerNintendoSwitchProControllerButtonMinus</string>
		<key>OEWiiButtonHome</key>
		<string>OEControllerNintendoSwitchProControllerButtonHome</string>
		<key>OEWiiNunchukAnalogUp</key>
		<string>OEControllerNintendoSwitchProControllerLeftAnalogUp</string>
		<key>OEWiiNunchukAnalogLeft</key>
		<string>OEControllerNintendoSwitchProControllerLeftAnalogLeft</string>
		<key>OEWiiNunchukButtonC</key>
		<string>OEControllerNintendoSwitchProControllerButtonL</string>
		<key>OEWiiNunchukButtonZ</key>
		<string>OEControllerNintendoSwitchProControllerButtonZL</string>
		<key>OEWiiIRUp</key>
		<string>OEControllerNintendoSwitchProControllerRightAnalogUp</string>
		<key>OEWiiIRLeft</key>
		<string>OEControllerNintendoSwitchProControllerRightAnalogLeft</string>
	</dict>
	<key>OEControllerGenericGameController</key>
	<dict>
		<key>OEWiiButtonUp</key>
		<string>OEControllerGenericGameControllerDPadUp</string>
		<key>OEWiiButtonDown</key>
		<string>OEControllerGenericGameControllerDPadDown</string>
		<key>OEWiiButtonLeft</key>
		<string>OEControllerGenericGameControllerDPadLeft</string>
		<key>OEWiiButtonRight</key>
		<string>OEControllerGenericGameControllerDPadRight</string>
		<key>OEWiiButtonA</key>
		<string>OEControllerGenericGameControllerButtonA</string>
		<key>OEWiiButtonB</key>
		<string>OEControllerGenericGameControllerButtonB</string>
		<key>OEWiiButton1</key>
		<string>OEControllerGenericGameControllerButtonX</string>
		<key>OEWiiButton2</key>
		<string>OEControllerGenericGameControllerButtonY</string>
		<key>OEWiiButtonPlus</key>
		<string>OEControllerGenericGameControllerButtonMenu</string>
		<key>OEWiiButtonMinus</key>
		<string>OEControllerGenericGameControllerButtonOptions</string>
		<key>OEWiiButtonHome</key>
		<string>OEControllerGenericGameControllerButtonHome</string>
		<key>OEWiiNunchukAnalogUp</key>
		<string>OEControllerGenericGameControllerLeftThumbstickUp</string>
		<key>OEWiiNunchukAnalogLeft</key>
		<string>OEControllerGenericGameControllerLeftThumbstickLeft</string>
		<key>OEWiiNunchukButtonC</key>
		<string>OEControllerGenericGameControllerButtonLeftShoulder</string>
		<key>OEWiiNunchukButtonZ</key>
		<string>OEControllerGenericGameControllerButtonLeftTrigger</string>
		<key>OEWiiIRUp</key>
		<string>OEControllerGenericGameControllerRightThumbstickUp</string>
		<key>OEWiiIRLeft</key>
		<string>OEControllerGenericGameControllerRightThumbstickLeft</string>
	</dict>
</dict>
</plist>
