<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>$(PRODUCT_NAME:c99extidentifier).OEWiiSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<string>D-Pad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiButtonRight</string>
			</dict>
		</array>
		<array>
			<string>Buttons</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiButton1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiButton2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>+</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiButtonPlus</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>-</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiButtonMinus</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Home</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiButtonHome</string>
			</dict>
		</array>
		<array>
			<string>Nunchuk Stick</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiNunchukAnalogUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiNunchukAnalogDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiNunchukAnalogLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiNunchukAnalogRight</string>
			</dict>
		</array>
		<array>
			<string>Nunchuk</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>C</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiNunchukButtonC</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Z</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiNunchukButtonZ</string>
			</dict>
		</array>
		<array>
			<string>IR Pointer</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiIRUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiIRDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiIRLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiIRRight</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAnalogControlsKey</key>
		<array>
			<string>OEWiiNunchukAnalogUp</string>
			<string>OEWiiNunchukAnalogDown</string>
			<string>OEWiiNunchukAnalogLeft</string>
			<string>OEWiiNunchukAnalogRight</string>
			<string>OEWiiIRUp</string>
			<string>OEWiiIRDown</string>
			<string>OEWiiIRLeft</string>
			<string>OEWiiIRRight</string>
		</array>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEWiiNunchukAnalogUp</string>
				<string>OEWiiNunchukAnalogDown</string>
			</array>
			<array>
				<string>OEWiiNunchukAnalogLeft</string>
				<string>OEWiiNunchukAnalogRight</string>
			</array>
			<array>
				<string>OEWiiIRUp</string>
				<string>OEWiiIRDown</string>
			</array>
			<array>
				<string>OEWiiIRLeft</string>
				<string>OEWiiIRRight</string>
			</array>
			<array>
				<string>OEWiiButtonUp</string>
				<string>OEWiiButtonDown</string>
			</array>
			<array>
				<string>OEWiiButtonLeft</string>
				<string>OEWiiButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEWiiButtonUp</string>
				<string>OEWiiButtonRight</string>
				<string>OEWiiButtonDown</string>
				<string>OEWiiButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>iso</string>
		<string>wbfs</string>
		<string>wad</string>
		<string>rvz</string>
		<string>gcz</string>
		<string>ciso</string>
		<string>nkit.iso</string>
		<string>nkit.gcz</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEWiiButtonUp</string>
		<string>OEWiiButtonDown</string>
		<string>OEWiiButtonLeft</string>
		<string>OEWiiButtonRight</string>
		<string>OEWiiButtonA</string>
		<string>OEWiiButtonB</string>
		<string>OEWiiButton1</string>
		<string>OEWiiButton2</string>
		<string>OEWiiButtonPlus</string>
		<string>OEWiiButtonMinus</string>
		<string>OEWiiButtonHome</string>
		<string>OEWiiNunchukAnalogUp</string>
		<string>OEWiiNunchukAnalogDown</string>
		<string>OEWiiNunchukAnalogLeft</string>
		<string>OEWiiNunchukAnalogRight</string>
		<string>OEWiiNunchukButtonC</string>
		<string>OEWiiNunchukButtonZ</string>
		<string>OEWiiIRUp</string>
		<string>OEWiiIRDown</string>
		<string>OEWiiIRLeft</string>
		<string>OEWiiIRRight</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>4</integer>
	<key>OEResponderClassKey</key>
	<string>OEWiiSystemResponder</string>
	<key>OESystemCoverAspectRatio</key>
	<string>1.41</string>
	<key>OESystemIcon</key>
	<string>wii_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.wii</string>
	<key>OESystemName</key>
	<string>Wii</string>
	<key>OESystemType</key>
	<string>OESystemTypeConsole</string>
	<key>OESystemMedia</key>
	<array>
		<string>OESystemMediaOpticalDisc</string>
	</array>
</dict>
</plist>
